body
{
	line-height: 1.6em;
}

#contactsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#contactsTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#contactsTable td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#contactsTable tbody tr:hover td
{
	color: #009;
}

#toolbarWindow {
     background-color: #b2c2f8;
     padding: 5px;
     text-align: right;
}

.formRow {
    margin-top: 5px;
}

.formControl {
    display: inline-block;
    margin: 3px;
    width: 150px;
}

input:valid {
    border:1px solid #000;
}

input:invalid {
    border:1px solid #900;
}